
* {
    font-family: "DM Sants", sans-serif;
}
body {
    background-color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__nav {
    background-color: #121212;
    border-radius: 9px;
    padding: 16px 0 0 16px;
}


.logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}


.logo img {
    width: 15vh;
}

.nav__icons ul {
    margin-top: 15px;
    padding: 0 20px 10px 20px;
}

.nav__icons ul li {
    padding: 10px 10px;
}

.nav__icons ul li a {
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    font-family: "DM Sants", sans-serif;
}

.library {
    background-color: #121212;
    border-radius: 9px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px
}

.library__container {
    display: flex;
    justify-content: space-between;
    /* padding: 15px 0 12px 20px;
    font-size: 17px;
    font-weight: 500;
     */
}

.library__button {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    font-family: "DM Sants", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;

}

.library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 9px;
}

.library__container .fa-plus {
    margin: 24px 10px;
}



.section__playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: "DM Sants", sans-serif;;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    margin: 8px 0;
    padding: 16px 20px;
}

.section__content {
    display: flex;
    flex-direction: column;
}

.section__content .text {
    padding-bottom: 14px;
    color: white;
}

.section__content .title {
    font-size: 18px;
    font-weight: 700;
}

.section__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section__content .button__playlist {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700px;
    font-family: "DM Sants", sans-serif;
    padding: 8px;
    text-decoration: none;
    text-transform: none;
    margin-top: 12px;
    width: 140px;
}

.cookies {
    padding-left: 10px;
    margin: 40px 0;
}

.cookies a {
    color:#b3b3b3;
    font-family: "DM Sants", sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.button__language {
    background: transparent;
    border-radius: 30px;
    border: 1px white solid;
    color: white;
    padding: 10px;
    width: 150px;
    margin-bottom: 10px;

}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 100vw;
    background: linear-gradient(to right, #2e2efc, #00bdfc, #f8314f, #c93232);
}